{% extends 'lynnworkflow/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: 'Lynn Workflow' | t('lynnworkflow'), url: url('lynnworkflow') },
    { label: 'Drafts' | t('lynnworkflow'), url: url('lynnworkflow/drafts') },
] %}

{% set selectedTab = 'drafts' %}

{% block blockContent %}

{% if entries | length %}
    <table id="entries" class="data fullwidth collapsible">
        <thead>
            <tr>
                <th scope="col">{{ 'Entry' | t('lynnworkflow') }}</th>
                <th scope="col">{{ 'Date Created' | t('lynnworkflow') }}</th>
                <th scope="col">{{ 'Date Updated' | t('lynnworkflow') }}</th>
                <td class="thin"></td>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr data-id="{{ entry.id }}">
                    <th scope="row" data-title="{{ 'Name' | t('lynnworkflow') }}">
                        {% set url = entry.cpEditUrl %}

                        {% if craft.app.isMultiSite() %}
                            {% set segments = entry.cpEditUrl | split('/') %}
                            {% set url = segments | without(segments | last) | join('/') %}
                        {% endif %}

                        <a href="{{ url }}/drafts/{{ entry.draftId }}">{{ entry.title|default('title not found') }}</a>
                    </th>

                    <td data-title="{{ 'Date created' | t('lynnworkflow') }}">
                        {{ entry.dateCreated | date('Y-m-d H:i:s') }}
                    </td>

                    <td data-title="{{ 'Date updated' | t('lynnworkflow') }}">
                        {{ entry.dateUpdated | date('Y-m-d H:i:s') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{ "No draft entries." | t('lynnworkflow') }}</p>
{% endif %}

{% endblock %}
