{% extends "lynnworkflow/_layouts" %}
{% import '_includes/forms' as forms %}


{% set crumbs = [
    { label: "Lynn Workflow"|t, url: url('lynnworkflow') },
    { label: "All Workflows"|t, url: url('lynnworkflow/workflows') }
] %}
{% set selectedTab = 'Workflows' %}
{% set showStatusMenu = true %}
{% set title = 'Lynn Workflow' %}


{% set workflows = craft.lynnworkflow.getAllWorkflows %}

{% block content %}

    <p id="noworkflows"{% if workflows|length %} class="hidden"{% endif %}>
        {{ "No Workflows exist yet."|t }}
    </p>

    {% if workflows|length %}
        <table id="workflows" class="data">
            <thead>
                <th scope="col">{{ "Name"|t }}</th>
                <th class="thin"></th>
            </thead>
            <tbody>

                {% for workflow in workflows %}
                    <tr data-id="{{ workflow.id }}" data-name="{{ workflow.name|t }}">
                        <td><a href="{{ url('lynnworkflow/workflows/'~workflow.id) }}">{{ workflow.name }}</a></td>
                        <td><a href="{{ url('lynnworkflow/workflows/'~workflow.id~'/edit') }}" class="edit icon" title="{{ 'Edit'|t }}"></a></td>
                        <td><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('lynnworkflow/workflows/new') }}" class="btn add icon">{{ "New Workflow"|t }}</a>
    </div>

{% endblock %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#workflows',
        noObjectsSelector: '#noworkflows',
        deleteAction: 'lynnworkflow/workflows/delete-workflow'
    });
{% endset %}
{% includeJs js %}
