{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% if workflowId is not defined %}{% set workflowId = null %}{% endif %}
{% if workflow is not defined %}
    {% if workflowId %}
        {% set workflow = craft.lynnworkflow.getWorkflowById(workflowId) %}
        {% if not workflow %}{% exit 404 %}{% endif %}
    {% else %}
        {% set workflow = null %}
    {% endif %}
{% endif %}

{% set title = workflow ? workflow.name : "New Workflow"|t %}

{% set crumbs = [
    { label: "Workflow management"|t, url: url('lynn-workflow') },
    { label: "All Workflows"|t, url: url('lynn-workflow/workflows') }
] %}

{% set content %}

{% set states = craft.lynnworkflow.getAllStates(workflowId) %}

{% block content %}

    <p id="nostates"{% if states|length %} class="hidden"{% endif %}>
        {{ "No states exist yet - create one!"|t }}
    </p>

    {% if states|length %}
        <table id="states" class="data">
            <thead>
                <th scope="col">{{ "Name"|t }}</th>
                <th class="thin"></th>
            </thead>
            <tbody>

                {% for state in states %}
                    <tr data-workflow="{{ workflow.id }}" data-id="{{ state.id }}" data-name="{{ state.name|t }}">
                        <td><a href="{{ url('lynn-workflow/workflows/'~workflow.id~'/states/'~state.id) }}">{{ state.name }}</a></td>
                        <td><a href="{{ url('lynn-workflow/workflows/'~workflow.id~'/states/'~state.id~'/edit') }}" class="edit icon" title="{{ 'Edit'|t }}"></a></td>
                        <td><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('lynn-workflow/workflows/'~workflow.id~'/states/new') }}" class="btn add icon">{{ "New State"|t }}</a>
    </div>

{% endblock %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#states',
        noObjectsSelector: '#nostates',
        deleteAction: 'lynnworkflow/workflows/delete-state'
    });
{% endset %}
{% includeJs js %}


{% endset %}
